@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

:root {


  /* Background */
  --contentBg: #FFFFFF;
  --contentDarkBg: #121212;
  --navbarBg: #F5F5F5;
  --navbarDarkBg: #1E1E1E;

  /* TEXT */
  --linkDarkColor:#90CAF9;
  --linkColor: #1E88E5;
  --textColor: #212121;
  --textDarkColor:#E0E0E0;


  /* LOGO */
  --logoGradientFrom: #1E88E5;
  --logoGradientTo: #43A047;
  --logoIcon:#057dd3;
  
  

}

@theme inline {
  
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-robotoMono: 'Roboto Mono', monospace;
  --font-kanit: 'Kanit', sans-serif;

  --color-primary:var(--primary);
  --color-primaryDark:var(--color-primaryDark);
  --color-logoGradientFrom:var(--logoGradientFrom);
  --color-logoGradientTo:var(--logoGradientTo);
  --color-logoIcon:var(--logoIcon);
  --color-link:var(--linkColor);
  --color-linkDark:var(--linkDarkColor);
  --color-contentBg:var(--contentBg);
  --color-contentDarkBg:var(--contentDarkBg);
  --color-textColor:var(--textColor);
  --color-textDarkColor:var(--textDarkColor);
  --color-navbarBg:var(--navbarBg);
  --color-navbarDarkBg:var(--navbarDarkBg);
}

/* Headings: Poppins (SemiBold / Bold)

Body Text: Roboto (Regular)

UI Elements / Numbers: Roboto Mono (for tables, tickers)
 */

body {
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes pulse {
          0%, 100% { opacity: 0.8; transform: scaleY(1); }
          50% { opacity: 1; transform: scaleY(1.05); }
        }
        @keyframes bounce {
          0%, 100% { transform: translateY(0); }
          50% { transform: translateY(-3px); }
        }